In [2]:
import re
import numpy as np
import pandas as pd
import json
import shutil
import gzip
import os
import wget
import tarfile
import time
from time_converter import Time

- We will start with the users,receipts and the brands last
- We will look at the dataset and create structured data model

# User Data Cleaning

In [3]:
user_df = pd.read_csv('csv_files/users.csv', index_col = 0)

In [4]:
users_df = user_df.copy()

In [5]:
users_df.columns

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

- We have a few Dtype objects in our dataset to observe for. While also checking the int64 and float64

In [6]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 27.6+ KB

- Checking first 5 rows we see a few mor data that is in need of cleaning

In [7]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [8]:
id_list = list(users_df[f'lastLogin'].to_dict().values())
date_parsed = id_list[0].replace('}', "").split(':')[1].replace(" ", "")
date_converted = Time(int(date_parsed[:10]), 'posix').to('dt')
format_date = "%m/%d/%Y"
format_time = "%H:%M:%S"
formated_date = date_converted.strftime(format_date)
formated_time = date_converted.strftime(format_time)

In [9]:
def cleanDateLog(id_data, column=None):
    id_list = list(id_data[f'{column}'].to_dict().values())
    times_list = []
    dates_list = []
    for i in range(len(id_list)):
        try: 
            
            date_parsed = id_list[i].replace('}', "").split(':')[1].replace(" ", "")
            date_converted = Time(int(date_parsed[:10]), 'posix').to('dt')
            format_date = "%m/%d/%Y"
            format_time = "%H:%M:%S"
            formated_date = date_converted.strftime(format_date)
            formated_time = date_converted.strftime(format_time)
            times_list.append(formated_time)
            dates_list.append(formated_date)
        except AttributeError:
            
            date_parsed = str(id_list[i])
            dates_list.append(date_parsed)
            
    return dates_list

In [10]:
def cleanIdCpg(id_data, column=None):
#     print(id_data[f'{column}'])
    # create the dictionary into a list to only get the values
    id_list = list(id_data[f'{column}'].to_dict().values())
    cleanedList = []
    for i in range(len(id_list)):
        parsed_name = id_list[i]
        # remove commas colons and split at quotations
        parsed_names = re.findall("'([^']*)'", id_list[i])
        # these were reoccuring strings that i saw
        cleanedList.append(parsed_names[-1])

    return cleanedList

In [11]:
users_df = user_df.copy()

users_df['_id'] = cleanIdCpg(id_data=users_df, column="_id")
users_df['createdDate'] = cleanDateLog(id_data=users_df, column="createdDate")
users_df["lastLogin"] = cleanDateLog(id_data=users_df, column="lastLogin")

# convert to pandas datetime 
users_df['createdDate'] = pd.to_datetime(users_df['createdDate'])
users_df["lastLogin"] = pd.to_datetime(users_df['lastLogin'])
users_df = users_df.rename(columns = {'_id':'user_id'}, inplace = False)

In [12]:
users_df.head()

,user_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03,2021-01-03,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI

# Receipt Data Cleaning

In [25]:
# I observed and found thats needed to converted a quick script to loop through the Dates
def convertDates(df):
    new_df = df.copy()
    col_list = list(new_df.columns)
    dates_col = col_list[3:10]
    dates_col.remove(col_list[8])
#     print(dates_col)
    for dates in dates_col:
        df[f'{dates}'] = cleanDateLog(id_data=df, column=f"{dates}")
        
    return df

# receipts_df = convertDates(receipt_df)

In [73]:
receipt_df = pd.read_csv('csv_files/receipts.csv', index_col = 0)
receipts_df = convertDates(receipt_df)
receipts_df['_id'] = cleanIdCpg(receipts_df, column = '_id')
# receipts_df = receipts_df.drop('rewardsReceiptItemList', axis = 1)

In [24]:
receipts_df

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",01/03/2021,01/03/2021,01/03/2021,01/03/2021,01/03/2021,500.0,01/03/2021,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",01/03/2021,01/03/2021,01/03/2021,01/03/2021,01/03/2021,150.0,01/02/2021,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,01/03/2021,01/03/2021,nan,01/03/2021,nan,5.0,01/03/2021,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,01/03/2021,01/03/2021,01/03/2021,01/03/2021,01/03/2021,5.0,01/03/2021,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,01/03/2021,01/03/2021,01/03/2021,01/03/2021,01/03/2021,5.0,01/02/2021,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,03/01/2021,03/01/2021,nan,03/01/2021,nan,25.0,08/17/2020,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,03/01/2021,03/01/2021,nan,03/01/2021,nan,NaN,nan,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,03/01/2021,03/01/2021,nan,03/01/2021,nan,NaN,nan,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,03/01/2021,03/01/2021,nan,03/01/2021,nan,25.0,08/17/2020,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,03/01/2021,03/01/2021,nan,03/01/2021,nan,NaN,nan,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [18]:
total = len(pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'])

- We can find that there are some nested data I tried different ways extract the information 
    felt this would be a proper way.
    - Observing the unstructured data "barcode" and "UserFlaggedBarcode" match 
    - Observing the unstructured data "description" and "Userdesription" match as well
    (We could use NLP to do further research on percentage of matching words)
- Note: I am going to flatten the data and create a fucntion to append the data to a new dataframe
        - I will also overwrite the nan values on barcode description and finalprice to condense the data
            - if we need too add any more we can in the future.

In [93]:
Items_df = pd.read_json('json_files/receipts.json', lines = True)

In [111]:
total  = len(Items_df)
range(total)[:4]

range(0, 4)

In [95]:
receiptItem_df = Items_df['rewardsReceiptItemList']

In [100]:
nested_receiptItems = len(receiptItem_df[75])

- Note to self 12:33PM 
 - Fix the script to a different order with an if statement at the end if statement

In [423]:
sample_lst = []
lst_labels = []
missing_data = []
for i in range(total):
    receiptItem_df = Items_df['rewardsReceiptItemList'][i]
    # incase we have keyerrors that could mean its only one 
    try:
        total_items = len(receiptItem_df)
        for j in range(total_items):
            if j > 1:
#                 print(f'{receiptItem_df[j]}')
                lst_labels.append(i)
#                 print(i)
#                 print(j)
                sample_lst.append(receiptItem_df)
            else:
#                 print(f'something - {receiptItem_df[j]}')
                lst_labels.append(i)
#                 print(i)
#                 print(j)
                sample_lst.append(receiptItem_df)
    except:
#         print(f'Found Key error {receiptItem_df}')
        missing_data.append(receiptItem_df)
    
    else:
        print(f'next {i}')
#         sample_lst.append(receiptItem_df)
#         lst_labels.append(i)
sample_df_0 = pd.json_normalize(pd.DataFrame(sample_lst)[0])
sample_df_1 = pd.DataFrame(sample_lst[1])
sample_concat = pd.concat([sample_df_0,sample_df_1])
sample_concat.head()

next 0
next 1
next 2
next 3
next 4
next 5
next 6
next 7
next 8
next 9
next 10
next 11
next 12
next 13
next 14
next 15
next 16
next 17
next 18
next 19
next 20
next 21
next 22
next 23
next 24
next 25
next 26
next 27
next 28
next 29
next 30
next 31
next 32
next 33
next 34
next 35
next 36
next 37
next 38
next 39
next 40
next 41
next 42
next 43
next 44
next 45
next 46
next 47
next 48
next 49
next 50
next 51
next 52
next 53
next 54
next 55
next 56
next 57
next 58
next 59
next 60
next 61
next 62
next 63
next 64
next 65
next 66
next 67
next 68
next 69
next 70
next 72
next 73
next 74
next 75
next 76
next 77
next 78
next 79
next 80
next 81
next 82
next 83
next 84
next 85
next 86
next 87
next 88
next 89
next 90
next 91
next 92
next 94
next 95
next 96
next 97
next 98
next 99
next 100
next 101
next 102
next 103
next 104
next 105
next 106
next 107
next 108
next 109
next 110
next 111
next 112
next 113
next 114
next 115
next 116
next 117
next 118
next 119
next 120
next 121
next 122
next 123
next 124
next 125
next 126
next 127
next 128
next 129
next 130
next 131
next 132
next 133
next 134
next 135
next 136
next 137
next 138
next 139
next 140
next 141
next 142
next 143
next 144
next 145
next 146
next 147
next 148
next 150
next 151
next 152
next 153
next 154
next 155
next 156
next 157
next 158
next 159
next 160
next 161
next 162
next 163
next 164
next 165
next 166
next 167
next 168
next 169
next 170
next 171
next 172
next 173
next 174
next 176
next 177
next 178
next 179
next 180
next 181
next 182
next 183
next 184
next 185
next 186
next 187
next 188
next 189
next 190
next 191
next 192
next 193
next 194
next 195
next 196
next 197
next 198
next 199
next 200
next 201
next 202
next 203
next 204
next 205
next 206
next 207
next 208
next 209
next 210
next 211
next 213
next 214
next 215
next 218
next 219
next 220
next 221
next 224
next 225
next 226
next 227
next 228
next 231
next 232
next 233
next 235
next 237
next 238
next 240
next 241
next 242
next 243
next 244
next 245
next 246
next 247
next 248
next 249
next 250
next 251
next 252
next 253
next 254
next 255
next 256
next 257
next 258
next 259
next 260
next 261
next 262
next 263
next 264
next 265
next 266
next 267
next 268
next 269
next 270
next 271
next 272
next 273
next 274
next 275
next 276
next 277
next 278
next 279
next 280
next 281
next 282
next 283
next 284
next 285
next 287
next 288
next 289
next 290
next 292
next 293
next 294
next 295
next 296
next 297
next 298
next 299
next 301
next 303
next 305
next 306
next 309
next 310
next 314
next 315
next 316
next 317
next 318
next 320
next 321
next 324
next 325
next 327
next 329
next 330
next 331
next 332
next 333
next 334
next 335
next 336
next 337
next 338
next 339
next 340
next 341
next 342
next 343
next 344
next 345
next 346
next 347
next 348
next 349
next 350
next 351
next 352
next 353
next 354
next 355
next 356
next 357
next 358
next 359
next 360
next 361
next 362
next 363
next 364
next 365
next 366
next 367
next 368
next 369
next 370
next 371
next 372
next 373
next 374
next 375
next 376
next 377
next 378
next 379
next 380
next 381
next 382
next 384
next 385
next 386
next 387
next 388
next 389
next 390
next 391
next 392
next 393
next 395
next 397
next 398
next 399
next 400
next 401
next 402
next 403
next 404
next 405
next 406
next 407
next 408
next 409
next 410
next 412
next 413
next 414
next 415
next 416
next 417
next 419
next 420
next 421
next 422
next 423
next 425
next 426
next 427
next 428
next 429
next 430
next 431
next 433
next 434
next 435
next 436
next 437
next 438
next 439
next 440
next 441
next 442
next 443
next 444
next 445
next 446
next 447
next 448
next 449
next 450
next 451
next 452
next 453
next 454
next 455
next 456
next 457
next 458
next 459
next 460
next 461
next 462
next 463
next 464
next 465
next 466
next 467
next 468
next 469
next 470
next 471
next 472
next 473
next 474
next 475
next 476
next 477
next 478
next 479
next 480
next 481
next 482
next 483
next 484
next 485
next 486
next 487
next 488
next 489
next 490
next 491
next 492
next 493
next 494
next 495
next 496
next 497
next 498
next 499
next 500
next 501
next 502
next 503
next 504
next 505
next 506
next 507
next 508
next 509
next 510
next 511
next 512
next 513
next 514
next 515
next 516
next 517
next 518
next 519
next 520
next 521
next 522
next 523
next 524
next 525
next 526
next 527
next 528
next 529
next 530
next 531
next 532
next 533
next 534
next 535
next 536
next 537
next 538
next 539
next 540
next 541
next 542
next 543
next 544
next 545
next 546
next 547
next 548
next 549
next 550
next 551
next 552
next 553
next 554
next 555
next 556
next 558
next 559
next 560
next 561
next 562
next 563
next 564
next 565
next 566
next 567
next 568
next 569
next 570
next 571
next 572
next 573
next 574
next 575
next 576
next 578
next 639
next 641
next 642
next 643
next 644
next 648
next 649
next 650
next 651
next 654
next 658
next 659
next 660
next 662
next 663
next 664
next 666
next 667
next 669
next 672
next 675
next 676
next 679
next 681
next 682
next 683
next 685
next 687
next 688
next 690
next 691
next 692
next 697
next 698
next 712
next 713
next 715
next 725
next 736
next 741
next 745
next 751
next 755
next 759
next 760
next 761
next 762
next 763
next 764
next 765
next 766
next 767
next 768
next 769
next 770
next 771
next 772
next 774
next 775
next 776
next 777
next 778
next 779
next 780
next 781
next 783
next 784
next 785
next 786
next 787
next 788
next 793
next 803
next 871
next 895
next 897
next 912
next 917
next 921
next 925
next 927
next 928
next 936
next 937
next 947
next 948
next 951
next 955
next 956
next 964
next 966
next 967
next 971
next 984
next 985
next 990
next 999
next 1009
next 1015
next 1021
next 1029
next 1030
next 1032
next 1035
next 1038
next 1040
next 1047
next 1048
next 1050
next 1052
next 1055
next 1059
next 1063
next 1064
next 1068
next 1069
next 1070
next 1071
next 1074
next 1075
next 1076
next 1077
next 1080
next 1082
next 1088
next 1089
next 1092
next 1094
next 1096
next 1099
next 1100
next 1101
next 1103
next 1106
next 1112
next 1113
next 1114
next 1117

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,needsFetchReviewReason,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,userFlaggedDescription,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [424]:
len(missing_data)
len(sample_lst)

440

In [426]:
sample_df_0 = pd.json_normalize(pd.DataFrame(sample_lst)[0])
sample_df_1 = pd.DataFrame(sample_lst[1])
sample_concat = pd.concat([sample_df_0,sample_df_1])

In [492]:
test_1 = sample_concat
test_1['barcode'] = test_1['barcode'].replace(np.nan, '4011')
test_1['description'] = test_1['description'].replace(np.nan, 'ITEM NOT FOUND')
test_1['needsFetchReview'] = test_1['needsFetchReview'].replace(np.nan, False)
test_1['finalPrice'] = test_1['finalPrice'].replace(np.nan, 0)
test_1['itemPrice'] = test_1['itemPrice'].replace(np.nan, 0)
test_1['needsFetchReview'] = test_1['needsFetchReview'].replace(np.nan, False)
test_1['needsFetchReview'] = test_1['needsFetchReview'].replace(np.nan, False)
test_1['needsFetchReview'] = test_1['needsFetchReview'].replace(np.nan, False)

In [357]:
sample_concat['barcode']

0                NaN
1                NaN
2                NaN
3                NaN
4               4011
            ...
6938      B076FJ92M4
6939      B076FJ92M4
6940      B076FJ92M4
0                NaN
1       028400642255
Name: barcode, Length: 6943, dtype: object

In [391]:
new_data.columns

Index(['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'originalMetaBriteBarcode',
       'originalMetaBriteDescription', 'pointsNotAwardedReason',
       'pointsPayerId', 'rewardsGroup', 'rewardsProductPartnerId', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber', 'needsFetchReviewReason',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'userFlaggedDescription', 'deleted',
       'priceAfterCoupon', 'metabriteCampaignId'],
      dtype='object')

In [470]:
data['barcode'].isna().value_counts()

False    2930
Name: barcode, dtype: int64

In [465]:
data = test_1.dropna(subset=['finalPrice'])

In [466]:
data = data.dropna(subset=['description'])

In [469]:
data = data.dropna(subset=['barcode'])

In [473]:
data.columns

Index(['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'originalMetaBriteBarcode',
       'originalMetaBriteDescription', 'pointsNotAwardedReason',
       'pointsPayerId', 'rewardsGroup', 'rewardsProductPartnerId', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber', 'needsFetchReviewReason',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'userFlaggedDescription', 'deleted',
       'priceAfterCoupon', 'metabriteCampaignId'],
      dtype='object')

In [486]:
check = data[(data['needsFetchReview'] != True) &  (data['needsFetchReview'] != False)]

In [491]:
check['needsFetchReview'].replace(np.nan, False)

1       False
2       False
5       False
6       False
9       False
        ...
6937    False
6938    False
6939    False
6940    False
0       False
Name: needsFetchReview, Length: 2817, dtype: bool

In [ ]:
receiptitems_cols = ['barcode','description','finalPrice','itemPrice','quantityPurchased', 'partnerItemId','needsFetchReview']

In [406]:
receipt_df = pd.read_csv('csv_files/receipts.csv', index_col = 0)

receipts_df = convertDates(receipt_df)
receipts_df['_id'] = cleanIdCpg(receipts_df, column = '_id')
receipts_df = receipts_df.rename(columns = {'_id':'receipt_id'}, inplace = False)
col_list = list(receipts_df.columns)
cols = col_list[3:10]

for col in cols:
    receipts_df[col] = pd.to_datetime(receipts_df[col])
amounts = range(len(receipts_df['rewardsReceiptItemList'].to_dict()))


fullDataSet = []

for j in amounts:
    try:
        text = receipts_df['rewardsReceiptItemList'].to_dict()[j]
        # creating the regex pattern & use re.sub()
        # [\([{})\]] is a RE pattern for selecting
        # '{', '}', '[', ']', '(', ')' brakcets.
        patn = re.sub(r"[\({}[)\]]", "", text)
        split_dictionary = re.findall("'([^}]*)'", patn)[0].split(',')
    except:
        None

        fullKeysValues = {}
        
        for i in range(len(split_dictionary)):
            try:
                keyvalueSplit = split_dictionary[i].split(':')
                
                dataKeys = keyvalueSplit[0].strip(" ' ")
                dataValues = keyvalueSplit[1].strip(" ' ")
                if dataValues == 'None':
                    fullKeysValues[f'{dataKeys}_none']  = dataValues
                else:
                    fullKeysValues[dataKeys]  = dataValues
                    
            except IndexError:
                None
            else:
                dataValues = "None"
                dataKeys = keyvalueSplit[0].strip(" ' ")
                if dataValues == 'None':
                    fullKeysValues[f'{dataKeys}_none']  = dataValues
                else:
                    fullKeysValues[dataKeys]  = dataValues

        fullDataSet.append(fullKeysValues)
fupa = pd.DataFrame(fullDataSet)
fupa

,barcode,barcode_none,description,description_none,finalPrice,finalPrice_none,itemPrice,itemPrice_none,partnerItemId,partnerItemId_none,...,metabriteCampaignId,metabriteCampaignId_none,pointsNotAwardedReason,pointsNotAwardedReason_none,itemNumber,itemNumber_none,deleted,deleted_none,originalMetaBriteQuantityPurchased,originalMetaBriteQuantityPurchased_none
0,021000068364,None,JUST CRACK AN EGG Scramble Kit,None,9.99,None,9.99,None,5,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,013000993906,None,HEINZ Cleaning Vinegar,None,1,None,1,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,034100573065,None,MILLER LITE 24 PACK 12OZ CAN,None,1.00,None,1.00,None,4,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10 CLASSIC COMBO J,None,3.09,None,3.09,None,1011,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,flipbelt level terrain waist pouch,None,28.57,None,28.57,None,0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [410]:
len(fupa['description'].unique())

39

# Brand Data Cleaning

In [444]:
def BrandIdCpg(id_data, column=None):
#     print(id_data[f'{column}'])
    # create the dictionary into a list to only get the values
    id_list = list(id_data[f'{column}'].to_dict().values())
    cleanedList = []
    for i in range(len(id_list)):
        parsed_name = id_list[i]
        # remove commas colons and split at quotations
        parsed_names = re.findall("'([^']*)'", id_list[i])
        # these were reoccuring strings that i saw
        remove_list = ['$ref', 'Cogs','$id', '$oid']
        # remove the extra strings and keep the actual id #
        res = [i for i in parsed_names if i not in remove_list]
        cleanedList.append(res[0])
        
    return cleanedList

In [1017]:
brand_df = pd.read_csv('csv_files/brands.csv', index_col = 0)

In [1084]:
brand_df = pd.read_csv('csv_files/brands.csv', index_col = 0)
brands_df = brand_df.copy()
brands_df['_id'] = BrandIdCpg(brands_df, column = '_id')
brands_df['cpg'] = BrandIdCpg(brands_df, column = 'cpg')
brands_df = brands_df.rename(columns = {'_id':'brand_id'}, inplace = False)
len(brands_df)

1167

In [1106]:
brands_df = brands_df[(brands_df['name'].str.contains("test") == False)]

In [1113]:
brands_df['topBrand'].isna().value_counts()

True     407
False    331
Name: topBrand, dtype: int64

In [1149]:
brands_df

,brand_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0,STARBUCKS
7,5cdad0f5166eb33eb7ce0faa,511111104810,Condiments & Sauces,NaN,559c2234e4b06aca36af13c6,J.L. Kraft,NaN,J.L. KRAFT
8,5ab15636e4b0be0a89bb0b07,511111504412,Canned Goods & Soups,NaN,5a734034e4b0d58f376be874,Campbell's Home Style,0.0,CAMPBELLS HOME STYLE
11,57c08106e4b0718ff5fcb02c,511111102540,NaN,NaN,Cpgs,MorningStar,NaN,NaN
12,588ba07be4b02187f85cdadd,511111201076,Baking,NaN,559c2234e4b06aca36af13c6,Calumet,0.0,CALUMET
...,...,...,...,...,...,...,...,...
1159,585a96cbe4b03e62d1ce0e88,511111501619,Beverages,NaN,5332f5fbe4b03c9a25efd0ba,Pepsi Max,0.0,NaN
1160,5887a216e4b02187f85cdad5,511111401155,Deli,NaN,559c2234e4b06aca36af13c6,Claussen,0.0,CLAUSSEN
1161,5332f709e4b03c9a25efd0f2,511111403845,Beer Wine Spirits,NaN,5332f709e4b03c9a25efd0f1,Blue Moon,0.0,BLUE MOON
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,53e10d6368abd3c7065097cc,Dippin DotsÂ® Cereal,NaN,DIPPIN DOTS CEREAL
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,5332f5f6e4b03c9a25efd0b4,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves

## Data Analysis

In [1140]:
users_df['_id'].value_counts()

5fc961c3b8cfca11a077dd33    20
54943462e4b07e684157a532    20
5ff5d15aeb7c7d12096d91a2    18
59c124bae4b0299e55b0f330    18
5fa41775898c7a11a6bcef3e    18
                            ..
600258dafb296c4ef805d9b7     1
5ff1e1e8cfcf6c399c274ad9     1
601465a584231211ce796da5     1
60268c69efa6011bb151075f     1
5ffc9001b3348b11c93388b6     1
Name: _id, Length: 212, dtype: int64

In [938]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 27.6+ KB

In [936]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     898 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 82.1+ KB

In [1144]:
receipts_df['userId'].value_counts()

5fc961c3b8cfca11a077dd33    436
59c124bae4b0299e55b0f330     58
54943462e4b07e684157a532     50
5fa41775898c7a11a6bcef3e     21
5ff5d15aeb7c7d12096d91a2     20
                           ...
6009885c50b33111fd61eee9      1
5ffc8ff9b3348b11c9338896      1
5ff8da7c04929111f6e914de      1
5fa8d542b055fd1dfdf09517      1
600b41d050b3311194385655      1
Name: userId, Length: 258, dtype: int64

In [1079]:
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   receipt_id               1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   datetime64[ns]
 4   dateScanned              1119 non-null   datetime64[ns]
 5   finishedDate             568 non-null    datetime64[ns]
 6   modifyDate               1119 non-null   datetime64[ns]
 7   pointsAwardedDate        537 non-null    datetime64[ns]
 8   pointsEarned             609 non-null    datetime64[ns]
 9   purchaseDate             671 non-null    datetime64[ns]
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: datetime64[ns](7), float64(3), object(5)
memory usage: 139.9+ KB

In [ ]:
What are the top 5 brands by receipts scanned for most recent month?
How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?
When considering average spend from receipts with 'rewardsReceiptStatusâ€™ of â€˜Acceptedâ€™ or â€˜Rejectedâ€™, which is greater?
When considering total number of items purchased from receipts with 'rewardsReceiptStatusâ€™ of â€˜Acceptedâ€™ or â€˜Rejectedâ€™, which is greater?
Which brand has the most spend among users who were created within the past 6 months?
Which brand has the most transactions among users who were created within the past 6 months?

In [1134]:
len(brands_df)

738

186

In [971]:
receipts_df['dateScanned'].min()
receipts_df['dateScanned'].max()

Timestamp('2021-03-01 00:00:00')

In [1120]:
recentMonth = receipts_df[receipts_df['dateScanned'] == receipts_df['dateScanned'].max() ]

,receipt_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
1089,603cbbb50a720fde100003e3,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1090,603cadab0a720fde100003d6,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1091,603c8cdf0a7217c72c0003bb,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1092,603d30e60a7217c72c00043f,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1093,603c65060a720fde10000395,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1094,603d5d6c0a7217c72c000463,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1095,603d760e0a720fde1000048e,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1096,603d59e70a7217c72c00045f,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1097,603c5ba30a720fde1000038d,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1098,603c51160a7217c72c00038b,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1099,603d40250a720fde10000459,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1100,603c88240a7217c72c0003b8,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1101,603cba880a7217c72c0003e0,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1102,603cd4570a7217c72c0003f5,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1103,603cd57d0a7217c72c0003f6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1104,603cf2ce0a7217c72c000413,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1105,603cac7d0a7217c72c0003d7,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1106,603c7c6c0a7217c72c0003b3,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1107,603d28b60a720fde10000445,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1108,603ca44a0a720fde100003d0,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1109,603c4a0e0a720fde10000380,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1110,603c6adf0a720fde1000039a,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1111,603c9e6e0a720fde100003c7,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1112,603c3d240a720fde10000373,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1113,603cc2bc0a720fde100003e9,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33