In [237]:
import re
import numpy as np
import pandas as pd
import json
import shutil
import gzip
import os
import wget
import tarfile
import time
from time_converter import Time

- We will start with the users,receipts and the brands last
- We will look at the dataset and create structured data model

# User Data Cleaning

In [200]:
user_df = pd.read_csv('csv_files/users.csv', index_col = 0)

In [286]:
users_df = user_df.copy()

In [281]:
users_df.columns

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

- We have a few Dtype objects in our dataset to observe for. While also checking the int64 and float64

In [203]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 27.6+ KB

- Checking first 5 rows we see a few mor data that is in need of cleaning

In [204]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [265]:
id_list = list(users_df[f'lastLogin'].to_dict().values())
date_parsed = id_list[0].replace('}', "").split(':')[1].replace(" ", "")
date_converted = Time(int(date_parsed[:10]), 'posix').to('dt')
format_date = "%m/%d/%Y"
format_time = "%H:%M:%S"
formated_date = date_converted.strftime(format_date)
formated_time = date_converted.strftime(format_time)

In [331]:
def cleanDateLog(id_data, column=None):
    id_list = list(id_data[f'{column}'].to_dict().values())
    times_list = []
    dates_list = []
    for i in range(len(id_list)):
        try: 
            
            date_parsed = id_list[i].replace('}', "").split(':')[1].replace(" ", "")
            date_converted = Time(int(date_parsed[:10]), 'posix').to('dt')
            format_date = "%m/%d/%Y"
            format_time = "%H:%M:%S"
            formated_date = date_converted.strftime(format_date)
            formated_time = date_converted.strftime(format_time)
            times_list.append(formated_time)
            dates_list.append(formated_date)
        except AttributeError:
            
            date_parsed = str(id_list[i])
            dates_list.append(date_parsed)
            
    return dates_list

In [295]:
def cleanIdCpg(id_data, column=None):
#     print(id_data[f'{column}'])
    # create the dictionary into a list to only get the values
    id_list = list(id_data[f'{column}'].to_dict().values())
    cleanedList = []
    for i in range(len(id_list)):
        parsed_name = id_list[i]
        # remove commas colons and split at quotations
        parsed_names = re.findall("'([^']*)'", id_list[i])
        # these were reoccuring strings that i saw
        cleanedList.append(parsed_names[-1])

    return cleanedList

In [1199]:
users_df = user_df.copy()

users_df['_id'] = cleanIdCpg(id_data=users_df, column="_id")
users_df['createdDate'] = cleanDateLog(id_data=users_df, column="createdDate")
users_df["lastLogin"] = cleanDateLog(id_data=users_df, column="lastLogin")

# convert to pandas datetime 
users_df['createdDate'] = pd.to_datetime(users_df['createdDate'])
users_df["lastLogin"] = pd.to_datetime(users_df['lastLogin'])
users_df = users_df.rename(columns = {'_id':'user_id'}, inplace = False)

In [1200]:
users_df.head()

,user_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03,2021-01-03,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03,2021-01-03,consumer,Email,WI

# Receipt Data Cleaning

In [428]:
# I observed and found thats needed to converted a quick script to loop through the Dates
def convertDates(df):
    new_df = df.copy()
    col_list = list(new_df.columns)
    dates_col = col_list[3:10]
    dates_col.remove(col_list[8])
#     print(dates_col)
    for dates in dates_col:
        df[f'{dates}'] = cleanDateLog(id_data=df, column=f"{dates}")
        
    return df

receipts_df = convertDates(receipt_df)

In [950]:
receipt_df = pd.read_csv('csv_files/receipts.csv', index_col = 0)
receipts_df = convertDates(receipt_df)
receipts_df['_id'] = cleanIdCpg(receipts_df, column = '_id')
receipts_df = receipts_df.drop('rewardsReceiptItemList', axis = 1)

In [1244]:
total = len(pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'])

- We can find that there are some nested data I tried different ways extract the information 
    felt this would be a proper way.
    - Observing the unstructured data "barcode" and "UserFlaggedBarcode" match 
    - Observing the unstructured data "description" and "Userdesription" match as well
    (We could use NLP to do further research on percentage of matching words)
- Note: I am going to flatten the data and create a fucntion to append the data to a new dataframe
        - I will also overwrite the nan values on barcode description and finalprice to condense the data
            - if we need too add any more we can in the future.

In [1385]:
fixed_data = pd.json_normalize(pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][0])
something_else =  pd.json_normalize(pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][4])
# fixed_data[["barcode","description","finalPrice","itemPrice","needsFetchReview","partnerItemId","preventTargetGapPoints","quantityPurchased"]].to_dict()
# something_else[["barcode","description","finalPrice","itemPrice","needsFetchReview","partnerItemId","preventTargetGapPoints","quantityPurchased"]].to_dict().values()

In [1386]:
something_else.append(fixed_data, ignore_index= True)

,barcode,description,finalPrice,itemPrice,partnerItemId,quantityPurchased,needsFetchReview,needsFetchReviewReason,preventTargetGapPoints,userFlaggedBarcode,userFlaggedDescription,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,4011,ITEM NOT FOUND,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1234,NaN,2.56,2.56,2,3,True,USER_FLAGGED,True,1234,,True,2.56,3.0
2,4011,ITEM NOT FOUND,26.00,26.00,1,5,False,NaN,True,4011,NaN,True,26.00,5.0

In [1336]:
flattenDataSet = pd.DataFrame()

In [1343]:
fixed_data

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '26.00',
  'itemPrice': '26.00',
  'needsFetchReview': False,
  'partnerItemId': '1',
  'preventTargetGapPoints': True,
  'quantityPurchased': 5,
  'userFlaggedBarcode': '4011',
  'userFlaggedNewItem': True,
  'userFlaggedPrice': '26.00',
  'userFlaggedQuantity': 5}]

In [1428]:
pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][5]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '3.25',
  'itemPrice': '3.25',
  'needsFetchReview': False,
  'originalMetaBriteBarcode': '028400642255',
  'originalMetaBriteDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'partnerItemId': '1',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '4011'}]

In [1376]:
flattenDataSet.append(normalized_data)

,needsFetchReview,partnerItemId,preventTargetGapPoints,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,False,1,True,4011,True,26.00,3

In [1426]:
receiptitems_cols = ['barcode','description','finalPrice','itemPrice','quantityPurchased']

- Note to self 12:33PM 
 - Fix the script to a different order with an if statement at the end if statement

In [1510]:
normalized_data

,brandCode,competitorRewardsGroup,description,discountedItemPrice,finalPrice,itemPrice,originalReceiptItemText,partnerItemId,quantityPurchased,barcode
0,MISSION,TACO BELL TACO SHELLS,ITEM NOT FOUND,2.23,0,0,MSSN TORTLLA,1009,0,MISSION

In [1508]:
def normalBrandCode():
    try:
        # create columns if it doesnt exist
        normalized_data['barcode'] = '4110'
        normalized_data['description'] = "ITEM NOT FOUND"
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

        # Barcode and Description
        normalized_data['barcode'] = normalized_data['barcode'].replace('4110', normalized_data['brandCode'])
        normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
    except:

        normalized_data['barcode'] = normalized_data['barcode'].replace('4110', normalized_data['brandCode'])
        normalized_data['description'] = normalized_data['description'].replace(np.NaN, normalized_data['userFlaggedDescription'])
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

    else:
    #     normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
        try:
            normalized_data['barcode'] = normalized_data['barcode'].replace('ITEM NOT FOUND', 'originalMetaBriteBarcode')
            normalized_data['description'] = normalized_data['description'].replace('ITEM NOT FOUND', normalized_data['originalMetaBriteDescription'])
        except:
            None

    try:
    # Integers based 
        normalized_data['barcode'] = normalized_data['brandCode']
        normalized_data['itemPrice'] = normalized_data['itemPrice'].replace(0 , normalized_data['userFlaggedPrice'])
        normalized_data['quantityPurchased'] = normalized_data['quantityPurchased'].replace(0, normalized_data['userFlaggedQuantity'])
        normalized_data[ 'finalPrice'] = normalized_data['finalPrice'].replace(0, normalized_data['finalPrice'])
    except:
        None
    
    return normalized_data

In [1626]:
def myprint(d): 
    stack = list(d.items()) 
    visited = set() 
    listK = []
    listV = []
    while stack: 
        k, v = stack.pop() 
        if isinstance(v, dict): 
            if k not in visited: 
                stack.extend(v.items()) 
        else: 
#             print("%s: %s" % (k, v))
            listK.append(k)
            listV.append(v)
        visited.add(k)
        
    res = dict(zip(visited, listV))
    return res

In [1657]:
normalized_data

,0,itemPrice,1,priceAfterCoupon,discountedItemPrice,description,originalReceiptItemText,quantityPurchased,partnerItemId,finalPrice,barcode
0,4110,0,11.99,0,thindust summer face mask - sun protection nec...,ITEM NOT FOUND,1,0,0,0,4110

In [1653]:
try: 
    fixed_data = pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][71]
    normalized_data = pd.json_normalize(fixed_data)
except:

    try:
        # create columns if it doesnt exist
        normalized_data['barcode'] = '4110'
        normalized_data['description'] = "ITEM NOT FOUND"
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

        # Barcode and Description
        normalized_data['barcode'] = normalized_data['barcode'].replace('4110', normalized_data['userFlaggedBarcode'])
        normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
    except:

        normalized_data['barcode'] = normalized_data['barcode'].replace('4110', normalized_data['brandCode'])
        normalized_data['description'] = normalized_data['description'].replace(np.NaN, normalized_data['userFlaggedDescription'])
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

    else:
    #     normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
        try:
            normalized_data['barcode'] = normalized_data['barcode'].replace('ITEM NOT FOUND', 'originalMetaBriteBarcode')
            normalized_data['description'] = normalized_data['description'].replace('ITEM NOT FOUND', normalized_data['originalMetaBriteDescription'])
        except:
            None

    try:
    # Integers based 
#         normalized_data['barcode'] = normalized_data['brandCode']
        normalized_data['itemPrice'] = normalized_data['itemPrice'].replace(0 , normalized_data['userFlaggedPrice'])
        normalized_data['quantityPurchased'] = normalized_data['quantityPurchased'].replace(0, normalized_data['userFlaggedQuantity'])
        normalized_data[ 'finalPrice'] = normalized_data['finalPrice'].replace(0, normalized_data['finalPrice'])
    except:
        None

    try:
        normalBrandCode()
    except:
        None
    

flattenDataSet.append(normalized_data[receiptitems_cols], ignore_index = True)

KeyError: 'brandCode'

In [1639]:
dt = pd.DataFrame([myprint(normalized_data.to_dict())])

In [1640]:
normalized_data = pd.json_normalize(fixed_data)

In [1643]:
dt[receiptitems_cols]

   barcode description finalPrice       itemPrice  quantityPurchased
0     True       26.00       4011  ITEM NOT FOUND              False

In [1664]:
fixed_data = pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][i-1]
print(i)
normalized_data = pd.json_normalize(fixed_data)

1118

In [1665]:
normalized_data[receiptitems_cols]

,barcode,description,finalPrice,itemPrice,quantityPurchased
0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,1
1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,1

In [1667]:
flattenDataSet = pd.DataFrame()
for i in range(total):
    
    fixed_data = pd.read_json('json_files/receipts.json', lines = True)['rewardsReceiptItemList'][i]
    print(i)
    try: 
        normalized_data = pd.json_normalize(fixed_data)
    except:
        None
    
    
    try:
        # create columns if it doesnt exist
        normalized_data['barcode'] = '4110'
        normalized_data['description'] = "ITEM NOT FOUND"
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

        # Barcode and Description
#         normalized_data['barcode'] = normalized_data['barcode'].replace('', normalized_data['userFlaggedBarcode'])
        normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
    except:

        normalized_data['barcode'] = normalized_data['barcode'].replace(np.NaN, normalized_data['userFlaggedBarcode'])
        normalized_data['description'] = normalized_data['description'].replace(np.NaN, normalized_data['userFlaggedDescription'])
        normalized_data['itemPrice'] = 0
        normalized_data['quantityPurchased'] = 0
        normalized_data[ 'finalPrice'] = 0

    else:
    #     normalized_data['description'] = normalized_data['description'].replace('', 'ITEM NOT FOUND')
        try:
            normalized_data['barcode'] = normalized_data['barcode'].replace('ITEM NOT FOUND', 'originalMetaBriteBarcode')
            normalized_data['description'] = normalized_data['description'].replace('ITEM NOT FOUND', normalized_data['originalMetaBriteDescription'])
        except:
            None

    try:
    # Integers based 
        normalized_data['itemPrice'] = normalized_data['itemPrice'].replace(0 , normalized_data['userFlaggedPrice'])
        normalized_data['quantityPurchased'] = normalized_data['quantityPurchased'].replace(0, normalized_data['userFlaggedQuantity'])
        normalized_data[ 'finalPrice'] = normalized_data['finalPrice'].replace(0, normalized_data['finalPrice'])
    except:
        None
    
    
    normalized_data = pd.DataFrame([myprint(normalized_data.to_dict())])
    flattenDataSet.append(normalized_data[receiptitems_cols], ignore_index = True)

0
1
2
3
4
5
6

KeyError: "['barcode'] not in index"

In [1668]:
flattenDataSet

Empty DataFrame
Columns: []
Index: []

In [1525]:
receipt_df = pd.read_csv('csv_files/receipts.csv', index_col = 0)

receipts_df = convertDates(receipt_df)
receipts_df['_id'] = cleanIdCpg(receipts_df, column = '_id')
receipts_df = receipts_df.rename(columns = {'_id':'receipt_id'}, inplace = False)
col_list = list(receipts_df.columns)
cols = col_list[3:10]

for col in cols:
    receipts_df[col] = pd.to_datetime(receipts_df[col])
amounts = range(len(receipts_df['rewardsReceiptItemList'].to_dict()))


fullDataSet = []

for j in amounts:
    try:
        text = receipts_df['rewardsReceiptItemList'].to_dict()[j]
        # creating the regex pattern & use re.sub()
        # [\([{})\]] is a RE pattern for selecting
        # '{', '}', '[', ']', '(', ')' brakcets.
        patn = re.sub(r"[\({}[)\]]", "", text)
        split_dictionary = re.findall("'([^}]*)'", patn)[0].split(',')
    except:
        None

        fullKeysValues = {}
        
        for i in range(len(split_dictionary)):
            try:
                keyvalueSplit = split_dictionary[i].split(':')
                
                dataKeys = keyvalueSplit[0].strip(" ' ")
                dataValues = keyvalueSplit[1].strip(" ' ")
                if dataValues == 'None':
                    fullKeysValues[f'{dataKeys}_none']  = dataValues
                else:
                    fullKeysValues[dataKeys]  = dataValues
                    
            except IndexError:
                None
            else:
                dataValues = "None"
                dataKeys = keyvalueSplit[0].strip(" ' ")
                if dataValues == 'None':
                    fullKeysValues[f'{dataKeys}_none']  = dataValues
                else:
                    fullKeysValues[dataKeys]  = dataValues

        fullDataSet.append(fullKeysValues)
fupa = pd.DataFrame(fullDataSet)
fupa

,barcode,barcode_none,description,description_none,finalPrice,finalPrice_none,itemPrice,itemPrice_none,partnerItemId,partnerItemId_none,...,metabriteCampaignId,metabriteCampaignId_none,pointsNotAwardedReason,pointsNotAwardedReason_none,itemNumber,itemNumber_none,deleted,deleted_none,originalMetaBriteQuantityPurchased,originalMetaBriteQuantityPurchased_none
0,021000068364,None,JUST CRACK AN EGG Scramble Kit,None,9.99,None,9.99,None,5,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,013000993906,None,HEINZ Cleaning Vinegar,None,1,None,1,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,034100573065,None,MILLER LITE 24 PACK 12OZ CAN,None,1.00,None,1.00,None,4,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10 CLASSIC COMBO J,None,3.09,None,3.09,None,1011,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,flipbelt level terrain waist pouch,None,28.57,None,28.57,None,0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,B07BRRLSVC,None,thindust summer face mask - sun protection nec...,None,11.99,None,11.99,None,1,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1231]:
len(split_dictionary)

26

# Brand Data Cleaning

In [444]:
def BrandIdCpg(id_data, column=None):
#     print(id_data[f'{column}'])
    # create the dictionary into a list to only get the values
    id_list = list(id_data[f'{column}'].to_dict().values())
    cleanedList = []
    for i in range(len(id_list)):
        parsed_name = id_list[i]
        # remove commas colons and split at quotations
        parsed_names = re.findall("'([^']*)'", id_list[i])
        # these were reoccuring strings that i saw
        remove_list = ['$ref', 'Cogs','$id', '$oid']
        # remove the extra strings and keep the actual id #
        res = [i for i in parsed_names if i not in remove_list]
        cleanedList.append(res[0])
        
    return cleanedList

In [1017]:
brand_df = pd.read_csv('csv_files/brands.csv', index_col = 0)

In [1084]:
brand_df = pd.read_csv('csv_files/brands.csv', index_col = 0)
brands_df = brand_df.copy()
brands_df['_id'] = BrandIdCpg(brands_df, column = '_id')
brands_df['cpg'] = BrandIdCpg(brands_df, column = 'cpg')
brands_df = brands_df.rename(columns = {'_id':'brand_id'}, inplace = False)
len(brands_df)

1167

In [1106]:
brands_df = brands_df[(brands_df['name'].str.contains("test") == False)]

In [1113]:
brands_df['topBrand'].isna().value_counts()

True     407
False    331
Name: topBrand, dtype: int64

In [1149]:
brands_df

,brand_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0,STARBUCKS
7,5cdad0f5166eb33eb7ce0faa,511111104810,Condiments & Sauces,NaN,559c2234e4b06aca36af13c6,J.L. Kraft,NaN,J.L. KRAFT
8,5ab15636e4b0be0a89bb0b07,511111504412,Canned Goods & Soups,NaN,5a734034e4b0d58f376be874,Campbell's Home Style,0.0,CAMPBELLS HOME STYLE
11,57c08106e4b0718ff5fcb02c,511111102540,NaN,NaN,Cpgs,MorningStar,NaN,NaN
12,588ba07be4b02187f85cdadd,511111201076,Baking,NaN,559c2234e4b06aca36af13c6,Calumet,0.0,CALUMET
...,...,...,...,...,...,...,...,...
1159,585a96cbe4b03e62d1ce0e88,511111501619,Beverages,NaN,5332f5fbe4b03c9a25efd0ba,Pepsi Max,0.0,NaN
1160,5887a216e4b02187f85cdad5,511111401155,Deli,NaN,559c2234e4b06aca36af13c6,Claussen,0.0,CLAUSSEN
1161,5332f709e4b03c9a25efd0f2,511111403845,Beer Wine Spirits,NaN,5332f709e4b03c9a25efd0f1,Blue Moon,0.0,BLUE MOON
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,53e10d6368abd3c7065097cc,Dippin Dots Cereal,NaN,DIPPIN DOTS CEREAL
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,5332f5f6e4b03c9a25efd0b4,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves

## Data Analysis

In [1140]:
users_df['_id'].value_counts()

5fc961c3b8cfca11a077dd33    20
54943462e4b07e684157a532    20
5ff5d15aeb7c7d12096d91a2    18
59c124bae4b0299e55b0f330    18
5fa41775898c7a11a6bcef3e    18
                            ..
600258dafb296c4ef805d9b7     1
5ff1e1e8cfcf6c399c274ad9     1
601465a584231211ce796da5     1
60268c69efa6011bb151075f     1
5ffc9001b3348b11c93388b6     1
Name: _id, Length: 212, dtype: int64

In [938]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 27.6+ KB

In [936]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     898 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 82.1+ KB

In [1144]:
receipts_df['userId'].value_counts()

5fc961c3b8cfca11a077dd33    436
59c124bae4b0299e55b0f330     58
54943462e4b07e684157a532     50
5fa41775898c7a11a6bcef3e     21
5ff5d15aeb7c7d12096d91a2     20
                           ...
6009885c50b33111fd61eee9      1
5ffc8ff9b3348b11c9338896      1
5ff8da7c04929111f6e914de      1
5fa8d542b055fd1dfdf09517      1
600b41d050b3311194385655      1
Name: userId, Length: 258, dtype: int64

In [1079]:
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   receipt_id               1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   datetime64[ns]
 4   dateScanned              1119 non-null   datetime64[ns]
 5   finishedDate             568 non-null    datetime64[ns]
 6   modifyDate               1119 non-null   datetime64[ns]
 7   pointsAwardedDate        537 non-null    datetime64[ns]
 8   pointsEarned             609 non-null    datetime64[ns]
 9   purchaseDate             671 non-null    datetime64[ns]
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: datetime64[ns](7), float64(3), object(5)
memory usage: 139.9+ KB

In [ ]:
What are the top 5 brands by receipts scanned for most recent month?
How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?
When considering average spend from receipts with 'rewardsReceiptStatus of Accepted or Rejected, which is greater?
When considering total number of items purchased from receipts with 'rewardsReceiptStatus of Accepted or Rejected, which is greater?
Which brand has the most spend among users who were created within the past 6 months?
Which brand has the most transactions among users who were created within the past 6 months?

In [1134]:
len(brands_df)

738

186

In [971]:
receipts_df['dateScanned'].min()
receipts_df['dateScanned'].max()

Timestamp('2021-03-01 00:00:00')

In [1120]:
recentMonth = receipts_df[receipts_df['dateScanned'] == receipts_df['dateScanned'].max() ]

,receipt_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
1089,603cbbb50a720fde100003e3,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1090,603cadab0a720fde100003d6,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1091,603c8cdf0a7217c72c0003bb,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1092,603d30e60a7217c72c00043f,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1093,603c65060a720fde10000395,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1094,603d5d6c0a7217c72c000463,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1095,603d760e0a720fde1000048e,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1096,603d59e70a7217c72c00045f,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1097,603c5ba30a720fde1000038d,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1098,603c51160a7217c72c00038b,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1099,603d40250a720fde10000459,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1100,603c88240a7217c72c0003b8,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1101,603cba880a7217c72c0003e0,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1102,603cd4570a7217c72c0003f5,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1103,603cd57d0a7217c72c0003f6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1104,603cf2ce0a7217c72c000413,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1105,603cac7d0a7217c72c0003d7,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1106,603c7c6c0a7217c72c0003b3,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1107,603d28b60a720fde10000445,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1108,603ca44a0a720fde100003d0,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1109,603c4a0e0a720fde10000380,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1110,603c6adf0a720fde1000039a,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1111,603c9e6e0a720fde100003c7,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1112,603c3d240a720fde10000373,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1113,603cc2bc0a720fde100003e9,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,1970-01-01 00:00:00.000000025,2020-08-17,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01,2021-03-01,NaT,2021-03-01,NaT,NaT,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33