In [152]:
import re
import numpy as np
import pandas as pd
import json
import shutil
import gzip
import os
import wget
import tarfile
import time

- We will start with the users,receipts and the brands last
- We will look at the dataset and create structured data model

In [200]:
user_df = pd.read_csv('csv_files/users.csv', index_col = 0)

In [201]:
users_df = user_df.copy()

In [202]:
users_df.columns

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

- We have a few Dtype objects in our dataset to observe for. While also checking the int64 and float64

In [203]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 27.6+ KB

- Checking first 5 rows we see a few mor data that is in need of cleaning

In [204]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [219]:
# create the dictionary into a list to only get the values
id_list = list(users_df[f'createdDate'].to_dict().values())
parsed_name = id_list
# remove commas colons and split at quotations
parsed_names = re.findall("'([^']*)'", id_list[0])
print((parsed_name[0]))
# these were reoccuring strings that i saw
remove_list = ['$ref', 'Cogs','$id', '$oid']
# remove the extra strings and keep the actual id ##
res = [i for i in parsed_names if i not in remove_list]
print(res)

{'$date': 1609687444800}
['$date']

In [ ]:
def UserCleanID()

In [214]:
def brandCleanId(id_data, column=None):
#     print(id_data[f'{column}'])
    id_list = list(id_data[f'{column}'].to_dict().values())
    cleanedList = []
    for i in range(len(id_list)):
        parsed_name = id_list[i]
        parsed_names = re.findall("'([^']*)'", id_list[i])
        remove_list = ['$ref', 'Cogs','$id', '$oid']
        res = [i for i in parsed_names if i not in remove_list]
        cleanedList.append(res)

    return cleanedList

In [196]:
brand_df['_id'] = brandCleanId(users_df, column = '_id')

In [198]:
brand_df['cpg'] = brandCleanId(users_df, column = 'cpg')

List of K :  ['Mon', 'Tue', 'Wed']
list of V :  [3, 6, 5]
Mon 3
Tue 6
Wed 5
Dictionary from lists :
  <zip object at 0x7f823de0a240>